{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/mdb.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">





    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Velgbro</title>
    {% endif %}
</head>
<body>
    <!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'home' %}">
        <img src="{% static 'store/img/logo.png' %}" width=50 alt="">
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <p></p>
          <li class="nav-item {% if nbar == 'home' %} active {%endif%}">
            <a class="nav-link waves-effect" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {% if nbar == 'post' %} active {%endif%}">
            <a class="nav-link waves-effect" href="{% url 'create-post' %}">Post your Wheel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href=""
              target="_blank">Search</a>
          </li>
          <li class="nav-item {% if nbar == 'profile' %} active {%endif%}">
            <a class="nav-link waves-effect" href="{% url 'profile' %}" >My Profile</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'wishlist' %}">
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Wishlist </span>
            </a>
          </li>
          <!--THIS PART IS HIDDEN, DELETE d-none class to see-->
          <!-- <div class="">   -->
        {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'profile' %}" class="nav-link waves-effect ml-2">
                <i class="far fa-user"></i>
                <strong>{{user.username}}</strong></a>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link border border-light rounded waves-effect ml-2"
              target="_blank">
              Sign In
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'signup' %}" class="nav-link border border-light rounded waves-effect ml-2"
              target="_blank">
              Sign Up
            </a>
          </li>
          {% endif %}
            
          </a>
        </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->


    {% block content %} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- temp will use local bootsrap in the future if possible -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>