{% block content %}
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="" target="_blank">
        <img src="store/img/logo.png" width=50 alt="">
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="sell.html" target="_blank">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href=""
              target="_blank">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="profile.html" target="_blank">My Profile</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Wishlist </span>
            </a>
          </li>
          <!--THIS PART IS HIDDEN, DELETE d-none class to see-->
          <!-- <div class="">   -->
          <li class="nav-item">
            <a href="signin.html" class="nav-link border border-light rounded waves-effect ml-2"
              target="_blank">
              Sign In
            </a>
          </li>
          <li class="nav-item">
            <a href="signup.html" class="nav-link border border-light rounded waves-effect ml-2"
              target="_blank">
              Sign Up
            </a>
          </li>
        <!-- </div> -->
        <!-- YES-->
        <!--HOW IT LOOKS KALO UDAHH LOGIN-->
        <div class="d-none">
        <li class="nav-item">
          <a href="signup.html" class="nav-link waves-effect ml-2"
            target="_blank">
            <i class="far fa-user"></i>
            <strong>MarcAntonio</strong>
          </div>
        <!--WOHOO-->
            
          </a>
        </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
  {% endblock %}