{% extends "store/base.html" %}

{% block content %}

<div class="row  pt-5 mt-5">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="row pt-5">
       <div class="profile-pic">
            <img src="{{ user.profile.profile_picture.url }}" alt="">
          </div>
      </div> 
        <div class="col-md-8 pt-3">
          <h4>{{user}}</h4>
          <h5><small>{{user.email}}</small></h5>
          <h5><small>{{user.profile.phone_number}}</small></h5>
        </div>  
    </div>
    <div class="mt-3">
      <h3>Update Profile</h3>
      <hr>
      <form class="text-left"  method="post" action="#" enctype="multipart/form-data">
          {% csrf_token %}
            {{u_form.as_p}}
            {{p_form.as_p}}
<!--        &lt;!&ndash; Username &ndash;&gt;-->
<!--        <label for="defaultLoginFormEmail">Username</label>-->
<!--          {{u_form.username}}-->
<!--         &lt;!&ndash; Email &ndash;&gt;-->
<!--         <label for="defaultLoginFormEmail">Email</label>-->
<!--         {{u_form.email}}-->

<!--        &lt;!&ndash; Phone number &ndash;&gt;-->
<!--        <label for="defaultLoginFormEmail">Phone Number</label>-->
<!--        {{u_form.phone_number}}-->

<!--        &lt;!&ndash;Picture&ndash;&gt;-->
<!--        <label for="defaultLoginFormEmail">Display picture</label>-->
<!--        <div class="input-group mb-3">-->
<!--          <div class="custom-file">-->
<!--            {{p_form.image}}}-->
<!--            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>-->
<!--          </div>-->
<!--          <div class="input-group-append">-->
<!--            <span class="input-group-text" id="">Upload</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <label for=""><small>Currently: {{user.profilepicurl}}</small></label>-->
<!--        <div>-->
          <button type="submit" class="btn btn-primary m-0">Update</button>
      </form>
            
  </div>
    </div>
  <div class="col-lg-2"></div>
</div>


  {% endblock content %}